h1{
    text-align: center;
    color: rgb(255, 254, 254);
    font-family: Arial;
    background-color:rgba(186, 186, 186, 0.685);
    padding: 20px;
    border-radius: 10px;
}
main{
     background-color: rgba(186, 186, 186, 0.685);

}
header{
    background-color: rgba(186, 186, 186, 0.685);
}
body{
    font-family: Arial;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.685);
}
footer{
    background-color: rgba(186, 186, 186, 0.685);
    font-family: Arial;
    text-align: center;
}
h2{
    text-align: center;
    font-family: Arial;
}
li{
    display: inline-block;
    text-align: center;
    width: 250px;
    background-color: rgba(5, 5, 5, 0.685);
    color: rgba(255, 255, 255, 0.685);
}
p {
    text-align: center; 
    line-height: 1.5;
}
img {
    display: inline-block;
    margin: 0 auto;
    width: 350px;
    height: 300px;
}